Emacs*UseXIM: false

UXTerm*termName: xterm-256color

UXTerm*scrollBar: hide

UXTerm*locale: true
UXTerm*metaSendsEscape: true

UXTerm*vt100.backarrowkey: false
UXTerm*ttymodes: erase ^?

UXTerm*borderWidth: 0

UXTerm*faceName: CaskaydiaCove Nerd Font Mono:style=Regular:antialias=true
UXTerm*faceNameDoublesize: Noto Sans CJK JP
UXTerm*faceSize: 10

UXTerm*background: #2e3440
UXTerm*foreground: #d8dee9

UXTerm*color0:  #3b4252
UXTerm*color1:  #bf616a
UXTerm*color2:  #a3be8c
UXTerm*color3:  #ebcb8b
UXTerm*color4:  #81a1c1
UXTerm*color5:  #b48ead
UXTerm*color6:  #88c0d0
UXTerm*color7:  #e5e9f0
UXTerm*color8:  #4c566a
UXTerm*color9:  #bf616a
UXTerm*color10: #a3be8c
UXTerm*color11: #ebcb8b
UXTerm*color12: #81a1c1
UXTerm*color13: #b48ead
UXTerm*color14: #8fbcbb
UXTerm*color15: #eceff4
